*{
    margin: 0;
    padding: 0;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
background-color:crimson ;
padding: 15px;
}

h1{
font-size: 25px;
color:maroon ;

}

nav{
padding: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

section{
    flex-direction: column;
}
.cartão{
    width: 200px;
    height: 200px;
}
.cartão-frente{
    background-color: darkred;
    position: absolute;
    border-radius: 12px;
    border: solid 5px snow;
}

.cartão-verso{
    background-color: darkred;
    position: absolute;
    border-radius: 12px;
    border:solid  5px snow
}